<footer class="bs-docs-footer">
  <div class="arrow-top"><a href="#top"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
  <div class="container">

    <ul class="bs-docs-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="#">Join us</a></li>
      <li><a href="#">Contribute</a></li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>

    <p>Designed and built with all the love in the world and <a href="https://github.com/twbs/bootstrap">Bootstrap</a> by <a href="https://twitter.com/alipseight" target="_blank">Magno Reis</a>. Maintained by the <a href="#">core team</a> with the help of <a href="#">our contributors</a>.</p>

    <p>Code licensed <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>

  </div>
</footer>
