<main class="bs-docs-masthead" id="content" tabindex="-1">
  <div class="container">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline"><img class="rc-logo col-xs-10 col-md-10" src="{{site.baseurl}}/assets/img/brand/logo.png"/></span>
    <p class="lead">{{site.lead}}</p>
    <p class="lead">
      <a href="{{site.baseurl}}/about" class="btn btn-success btn-lg">Learn more &raquo;</a>
    </p>
    <p class="version">Currently {{site.currently_version}}</p>
  </div>
</main>
