
<nav role="navigation" id="nav-global">
<link rel="stylesheet" href="/css/masthead.css" />
  <div class="nav-global-wrapper">
    <ul class="nav-global-main">
      <li>
        <a href="www.mozilla.org" class="active">Mozilla</a>
        </li>
        <li>
          <a href="http://womoz.mozillabrasil.org/">WoMoz</a>
          </li>
        <li>
          <a href="http://discourse.mozilla-community.org/">Discourse</a>
          </li>
            <li>
              <a href="http://developer.mozilla.org">Developer</a>
              </li>
              <li>
                <a href="https://advocacy.mozilla.org">Advocacy</a>
                </li>
                <li>
                  <a href="http://teach.mozilla.org">Teach</a>
                  </li>
                  <li>
                    <a href="https://mozilla.org/contribute">Contribute</a>
                    </li>
                    <li>
                      <a href="https://mozilla.org/firefox/products">Firefox</a>
                      </li>
                      <li>
                        <a href="http://mozilla.org/about">About</a>
                        </li>
                        <li>
                          <a href="http://careers.mozilla.org">Careers</a>
                          </li>
                          <li>
                            <a href="https://donate.mozilla.org">Donate</a>
                            </li>
                                          </ul>
                                          </div>
</nav>
