<nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand">{{site.title}}</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li {% if page.slug== "home" %} class="active"{% endif %}><a href="{{site.baseurl}}/">Home</a></li>
           <li {% if page.slug== "about" %} class="active"{% endif %}><a href="{{site.baseurl}}/about/">About</a></li>
           <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
           <li {% if page.slug== "stage" %} class="active"{% endif %}class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mais... <span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li {% if page.slug== "stage" %}class="active"{% endif %}><a href="{{site.baseurl}}/stage">Stage</a></li>
               <li class="disabled"><a href="#">Another action</a></li>
               <li class="disabled" ><a href="#">Something else here</a></li>
               <li role="separator" class="divider"></li>
               <li class="dropdown-header">Nav header</li>
               <li class="disabled" ><a href="#">Separated link</a></li>
               <li class="disabled" ><a href="#">One more separated link</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li {% if page.slug== "team" %} class="active"{% endif %}><a href="{{site.baseurl}}/team/">Team</a></li>
           <li {% if page.slug== "blog" %} class="active"{% endif %}><a href="{{site.baseurl}}/blog/">Blog</a></li>
           <li {% if page.slug== "issue" %} class="active"{% endif %}><a href="{{site.baseurl}}/cover/">Cover<span class="sr-only">(current)</span></a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
