<html>
 {% include head.html %}
  <body>

    <div class="container-fluid center">

  <h1><span class="glyphicon glyphicon-alert"></span></h1>
          <p><strong>Ops... It's embarassing but this page is being built. </strong></p>

      <p>
        We are building this page in our <strong> beta</strong> stage, when the changes finish and all issues and
         questions is solved, the page will show here, meanwhile we have others pages to read.
      </p>

<p>
        <span class="glyphicon glyphicon-flag"></span> You can help us to improve the page contributing in our <a href="{{site.repo}}">Github</a>.
      </p>
<hr>
      <a href="{{site.baseurl}}/" class="btn btn-warning"><span class="glyphicon glyphicon-home"></span></a>
    </div>


</body></html>
